<div class='row front_content_main_row profile_trip_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <%= render "/profile/my_trips/my_trips/user_profile_my_trip_publish_item_row", item: @item %>
       </div>
    </div>
  </div>
</div>

