<h2 class="mt-5">About page</h2>
<br/>
Project repository: <a href="https://github.com/trumenov/shuttle_bus" target="_blank">https://github.com/trumenov/shuttle_bus</a><br/>
<br/><br/>

Chernuha Andrey CV in PDF format:<br/>
<table class='table table-sm'>
  <thead>
    <tr>
      <th>Year</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        2022
      </td>
      <td>
        <a href="/cv/andrew_chernuha_2022_3.pdf" target="_blank">
          andrew_chernuha_2022_3.pdf
        </a>
      </td>
    </tr>
    <tr>
      <td>
        2023
      </td>
      <td>
        <a href="/cv/andrew_chernuha_2023_1.pdf" target="_blank">
          andrew_chernuha_2023_1.pdf
        </a>
      </td>
    </tr>
  </tbody>
</table>
<br/><br/>

Chernuha Andrey CV at GoogleDocs:<br/>
<a href="https://docs.google.com/document/d/1QOV2pPKAEm1vfOBv7O-ax2NGmZgqDz5u" target="_blank" title='Thanks for this cool template for HR @vr_leba. Вероника, спасибо Вам огромное, надеюсь людям понравится такой формат). Всегда буду рад помочь Вам по возможности чем смогу так сказать.'>
  2022 resume AndrewChernuha_2022_3.docx
</a><br/>
<a href="https://drive.google.com/file/d/1t-B-9rwLtn6ys1L0hoemfV9zP_PEmXHl" target="_blank">
  Current last resume AndrewChernuha_2023_1.docx
</a><br/>
<br/><br/>
Old CV files for last few years:<br />
<a href="https://docs.google.com/document/d/1AkvtFuJ4BmgS_Mz-NUPsnHjSLDB_9XQ2" target="_blank">
  Chernukha Andrey Pavlovich_2020.docx
</a><br/>
<a href="https://docs.google.com/document/d/14fydu-w1nZcxO-6XQ97KEUb82mUDWDD0EV-4t05T3QA" target="_blank">
  Chernukha Andrey.doc (2021)
</a><br/>
<a href="https://docs.google.com/document/d/1nsdspvxL3eReuuTym432fxIGiWPJl3PPoIFiLNntDgU" target="_blank">
  Chernukha Andrey2022.doc
</a><br/><br/>
<h2>Linkedin profile:</h2>
<a href="https://www.linkedin.com/in/andrey-ror-perl/" target="_blank">https://www.linkedin.com/in/andrey-ror-perl/</a><br/>
<br/><br/>
This is <a href='mailto::chaky22222222@gmail.com'>chaky22222222@gmail.com</a> demo project. <br/>
Some code from <a target="_blank" href="https://test.vint.com.ua/">https://test.vint.com.ua</a> - this is new front still in dev mode for <a href="https://vint.com.ua" target="_blank">https://vint.com.ua</a>.
<br/><br/><br/>
<br/><br/>