<div class="row">
  <div class="col-12">
    <h5>This is a demo project with bootstrap4 and ajax mixed modals</h5>
    <small>
      <ul>
        <li>Rails6 (Ruby 2.7.2) with breadcrumbs</li>
        <li>MySql</li>
        <li>Devise (omniauth-google-oauth2, omniauth-facebook)</li>
        <li>Capistrano3 as deployment system</li>
        <li>Front side: Bootstrap4 + JQuery + OwlCarousel + Select2</li>
      </ul>
    </small>
    <a href="/trips" class='btn btn-outline-primary btn-sm'>Choose trip</a>
    <br/><br/><br/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <b>My demo shop (der2shop) with excel import/export examples and funny filters:</b><br/>
    <a href="https://d.hw.dp.ua" target="_blank">d.hw.dp.ua</a>
    <br/><br/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <b>My shop with russian localization for my neighbors:</b><br/>
    <a href="https://herb.hw.dp.ua" target="_blank">herb.hw.dp.ua</a>
    <br/><br/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <b>My demo project with excel import/export examples here:</b><br/>
    <a href="https://sapr.hw.dp.ua" target="_blank">sapr.hw.dp.ua</a>
    <br/><br/>
  </div>
</div>
<br/><br/>
This is <a href='mailto::chaky22222222@gmail.com'>chaky22222222@gmail.com</a> demo project. <br/>
Some code from <a target="_blank" href="https://test.vint.com.ua/">https://test.vint.com.ua</a> - this is new front still in dev mode for <a href="https://vint.com.ua" target="_blank">https://vint.com.ua</a>.
<br/><br/><br/>
<a href="https://github.com/trumenov/shuttle_bus" target="_blank">https://github.com/trumenov/shuttle_bus</a><br/>
<a href="/about">About this project</a><br/>
<br/><br/><br/>
<a href="/admin/login" target="_blank">Admin dashboard</a>:<br/>
login: admin@example.com<br/>
password: password<br/>
<br/><br/>


DemoUser: <br/>
Login: megatester@test.test<br/>
password: 123123<br/>
<br/><br/><br/><br/>
