<div class='row front_content_main_row profile_event_tpacks_main_row'>
  <div class="w350_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <div class="row hidden_in_modal">
          <div class="col-12"><br/><br/>
            <h3 class='text-success'>Success!</h3><br/>
            <h4>Your payment received!</h4>
          </div>
        </div>
        <div class="row front_edit_form">
          <div class="col-12">
            Your payment received.<br/><br/>
            You can found your ticket in your account profile on <a href="<%= profile_my_tickets_path %>">My tickets</a> page.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
